// Roslindale
@font-face {
  font-family: "Roslindale";
  src: url("../../Assets/Fonts/RoslindaleText-Regular.ttf") format("TrueType");
  font-weight: 400;
}

@font-face {
  font-family: "Roslindale";
  src: url("../../Assets/Fonts/RoslindaleText-Bold.ttf") format("TrueType");
  font-weight: 800;
}

@font-face {
  font-family: "Roslindale";
  src: url("../../Assets/Fonts/RoslindaleText-Italic.ttf") format("TrueType");
  font-weight: 400;
  font-style: italic;
}
